@use './vendor/datatables' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

// * {
// 	scrollbar-width: thin;
// }

*::-webkit-scrollbar {
	@apply bg-transparent w-2;
}

*::-webkit-scrollbar-thumb {
	@apply bg-gray-300 rounded-full;
}

@layer base {
	@font-face {
		font-family: 'Roboto';
		src:
			url('/fonts/Roboto-Regular.woff2') format('woff2'),
			url('/fonts/Roboto-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
	@apply bg-transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
	@apply bg-gray-300;
}
